/* Reset css */
body, html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}


body {
    background-image: url('assets/imagens/logo-reduzida.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #1e1f2e;
    background-attachment: fixed;
    color:#f0f0f0;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 360px;
}

h1 {
    font-size: 1.5em;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 3px 5px #b86800;;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
    margin-right: 25px;
    margin-left: 25px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 5px 8px;
    padding: 10px;
}

a:hover {
    font-size: 1.2rem;
    color: #cdcdf3;
    transition: 0.3s;
}

footer {
    background-color: #2222358c;
    font-size: 16px;
    position: absolute;
    /* o bottom fez o rodapé fixar na parte de baixo da tela */
    bottom: 0; 
    width: 100%;
    height: 50px;
}

@media (max-width: 425px) {
    body {
        background-image: url('assets/imagens/fundo-poster-celular-reduzido.jpg');
    }

    main {
        background-color: #1e1f2ec7;
    }
    
    footer {
        position: relative;
        height: 100px;
        margin-top: 60px;
        background-color: #1e1f2ec7;
    }
}
